* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --jasmine: #fbd784;
  --bg: #0b1d26;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--bg);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.subtitle {
  position: relative;
  color: var(--jasmine);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 50px;
}
.subtitle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: var(--jasmine);
}
section:not(:first-child)
, footer {
  padding-top: 100px;
}
.logo a {
  color: var(--white);
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  nav input {
    appearance: none;
  }
  nav label img {
    cursor: pointer;
  }
  nav {
    position: relative;
  }
  header ul {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 140px;
    background-color: rgba(0, 0, 0, .4);
    z-index: 5;
  }
  nav input:checked + ul {
    display: block;
  }
  nav ul li a {
    display: block;
    color: var(--white);
    padding: 15px;
  }
  nav ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .5); ;
  }
}
@media (min-width: 992px) {
  nav input 
  , nav label {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav li a {
    color: var(--white);
    padding: 0 15px;
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-size: 100% 100%;
  height: 100vh;
}
.hero .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container h1 {
  color: var(--white);
  font-size: 50px;
  margin: 10px 0;
}
.hero .container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}
.article .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
@media (min-width: 992px) {
  .article .container article
, .article .container .image {
  width: 45%;
}
}
.article .container h2 {
  color: var(--white);
  font-size: 30px;
  margin: 15px 0;
  position: relative;
}
.article .container h2::before {
  position: absolute;
  content: "";
  top: -100px;
  left: -60px;
  font-size: 120px;
  color: rgb(255 255 255 / 0.2);
  z-index: -1;
}
.article-1 .container h2::before {
  content: "01";
}
.article-2 .container h2::before {
  content: "02";
}
.article-2 .container {
  flex-direction: row-reverse;
}
.article-3 .container h2::before {
  content: "03";
}
.article .container p {
  color: var(--white);
  font-size: 15px;
  margin-bottom: 15px;
}
.article .container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--jasmine);
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .info .description {
  color: var(--white);
  margin: 15px 0 70px 0;
}
footer .container .info .copyright {
  color: rgb(255 255 255 / 0.6);
  margin-bottom: 40px;
}
footer .container .more {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
footer .container .more h3 {
  color: var(--jasmine);
  margin-bottom: 15px;
}
footer .container .more li a {
  display: block;
  color: var(--white);
  padding: 5px 0;
}







